<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Method</key>
		<string>push</string>
		<key>Host</key>
		<string>test</string>
		<key>ViewController</key>
		<string>URLViewController</string>
		<key>StoryBoard</key>
		<string></string>
	</dict>
	<dict>
		<key>Method</key>
		<string>push</string>
		<key>Host</key>
		<string>test2</string>
		<key>ViewController</key>
		<string>StoryboardOneViewController</string>
		<key>StoryBoard</key>
		<string>Main</string>
	</dict>
</array>
</plist>
